.container.center
	%h3 Wow This Website is Amazing!
	%p Its because Taylor Wu built it.
	%h3 Why Would Taylor Waste His talent on Nhi?
	%p He built this website dedicated to his precious friend Nhi, who he loves very much. (even though she is an asshole to him)
	%h3 Curious About the Documentation?
	%p Heres the Github!
	.center-align
		.row
			.col.s12.responsive-img
				=link_to(image_tag("about/dojocat.jpg", class:'github-logo', :alt => "Github"), "https://github.com/jsfowles/wasatch_market")