%h1.center Jeffy

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093118/Nhi's Website/jeff2.jpg", :alt => "Jeff")
        %span.card-title 
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093117/Nhi's Website/jeff1.jpg", :alt => "Jeff")
      .card-content

.row.center.container        
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093117/Nhi's Website/jeff10.jpg", :alt => "Jeff")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093117/Nhi's Website/jeff13.jpg", :alt => "Jeff")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093118/Nhi's Website/jeff14.jpg", :alt => "Jeff")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093119/Nhi's Website/jeff4.jpg", :alt => "Jeff")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/jeff5.jpg", :alt => "Jeff")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/jeff6.jpg", :alt => "Jeff")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093120/Nhi's Website/jeff7.jpg", :alt => "Jeff")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093121/Nhi's Website/jeff8.jpg", :alt => "Jeff")
      .card-content

