%h1.center Sandyy Vo

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy1.jpg", :alt => "Sandy")
        %span.card-title 
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy3.jpg", :alt => "Sandy")
      .card-content

.row.center.container        
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy2.jpg", :alt => "Sandy")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy4.jpg", :alt => "Sandy")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy5.jpg", :alt => "Sandy")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy6.jpg", :alt => "Sandy")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy7.jpg", :alt => "Sandy")
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093376/Nhi's Website/sandy9.jpg", :alt => "Sandy")
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093375/Nhi's Website/sandy8.jpg", :alt => "Sandy")
      .card-content
