%h1.center Taylor

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093128/Nhi's Website/taylor3.jpg", :alt => "Taylor")
        %span.card-title
      .card-content
        %i "Nhi Sucks"
        %br -Taylor Wu

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/r_30/v1470096098/Nhi's Website/taylor4.jpg", :alt => "Taylor")
      .card-content You a midget

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093127/Nhi's Website/taylor2.jpg", :alt => "Taylor")
        %span.card-title
      .card-content

  .col.s12.m6
    .card
      .card-image
        =image_tag("https://res.cloudinary.com/taylorwu21/image/upload/v1470093130/Nhi's Website/taylor1.png", :alt => "Taylor")
      .card-content