%h1.center Tina Tran


.row.center.container
  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina10.png", :alt => "Tina"))
        %span.card-title Best Friend
      .card-content
        %i "Have you ever had someone that always, always makes everything better? I have. 4 years and counting. You're my no matter what. Forever." 
        %br -Tina Tran

  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina1.jpg", :alt => "Tina"))
      .card-content

.row.center.container        
  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina2.jpg", :alt => "Tina"))
      .card-content

  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina3.jpg", :alt => "Tina"))
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina4.jpg", :alt => "Tina"))
      .card-content

  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina5.jpg", :alt => "Tina"))
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina6.jpg", :alt => "Tina"))
      .card-content

  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina7.jpg", :alt => "Tina"))
      .card-content

.row.center.container
  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina8.jpg", :alt => "Tina"))
      .card-content

  .col.s12.m6
    .card
      .card-image
        =link_to(image_tag("tina/tina9.jpg", :alt => "Tina"))
      .card-content







