body {
	background-color: #990000;
	font-weight: 300
}

h1, h2, h3, h4, h5, h6, p {
	color: white;
}

p {
	font-size: 20px;
}

.github-logo {
	width: 300px;
	height: auto;
}

.parallax-container {
  height: 1100px;
  margin-bottom: 80px;
  margin-top: 0px !important;
}

.parallax {
	margin-bottom: 40px;
}

.bumblebee {
	width: 100px;
	height: auto;
	display: block;
  margin: auto;
  margin-bottom: 20px;
}